* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: #fff;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.row {
  height: 13vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid greenyellow; */
}

.left-nav {
  font-size: 16px;
  /* width: 25%; */
  height: 5vh;
  /* display: flex;
  justify-content: space-evenly; */
  /* text-align: center;
  align-items: center; */
  margin-left: 20px;
  /* border: 3px solid blue; */
}

.mid-nav {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-nav {
  /* width: 25%; */
  width: 14%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  /* border: 3px solid yellow; */
  margin-right: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  position: relative;
  display: inline-block;
}

.logo-container {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid cyan; */
}

.logo {
  display: flex;
  height: 100%;
  text-align: center;
  object-fit: contain;
}

.logo-text {
  display: flex;
  justify-content: center;
}

.main-navigation {
  width: 100%;
  font-size: 20px;
  height: 5vh;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

.navbar {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  text-align: center;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  border: 0.1px solid rgba(128, 128, 128, 0.148);
}

/*  HOVER CSS */

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #d91744;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Underline From Center */
.hvr-underline-from-center-2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center-2:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #a70ea7;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center-2:hover:before,
.hvr-underline-from-center-2:focus:before,
.hvr-underline-from-center-2:active:before {
  left: 0;
  right: 0;
}

/* Underline From Right */
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before,
.hvr-underline-from-right:focus:before,
.hvr-underline-from-right:active:before {
  left: 0;
}

.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.hero-banners {
  height: 60vh;
  width: 100%;
  /* border: 5px solid orange; */
}

.banner {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border: 3px solid red; */
}

.banner-text {
  font-size: 60px;
  color: #fff;
  background-color: #000000a3;
  background-blend-mode: soft-light;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-blocks {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 5px solid green; */
}

.info-block-description-text {
  height: 100%;
  width: 22%;
  padding-left: 20px;
  font-size: 25px;
  font-weight: 1000;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  /* border: 3px solid salmon; */
}

.info-card {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  /* border: 3px solid brown; */
}

.info-img-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: left;
}

.info-paragraph {
  padding-top: 10px;
  font-size: 15px;
  width: 100%;
  height: 100%;
}

.about {
  /* top | right | bottom | left */
  padding: 20px 0 50px 0;
  text-align: center;
  font-size: 20px;
}

.about-img {
  height: 60vh;
}

.header2 {
  padding-bottom: 10px;
}

.about-paragraph {
  padding-bottom: 20px;
}

.customer-footer {
  width: 100%;
  height: 30vh;
  display: flex;
  color: #000;
  padding-top: 20px;
}

.social-header-text {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  text-align: center;
  padding: 0 0 5px 5px;
}

.social-left-column {
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 5px 0 0 35px;
  /* border: 8px solid blue; */
}

.social-mid-column {
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;

  /* border: 3px solid orange; */
  /* margin-right: 20px; */
}

.social-right-column {
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2px;
  /* border: 3px solid rgb(160, 96, 96); */
  margin-right: 35px; /* margin-right: 20px; */
}

.social-info-card {
  width: 100%;
  display: flex;
  /* border: 5px solid black; */
}

.social-icon {
  width: 45px;
  height: 45px;
  display: flex;
  /* border: 3px solid green; */
}

.social-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;

  /* border: 3px solid purple; */
}

.footer-address {
  color: black;
  padding-left: 5px;
}

/* 
------------
Events-Page 
------------
*/

.hero-event-banners {
  width: 100%;
  height: 100%;
}

.eventbanner {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center;
}

.pages-paragraph {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  /* border: 3px solid black; */
}

.blurb {
  width: 60%;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.japan-destination {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
.tile {
  position: relative;
  overflow: hidden;
}

/* Overlay text box */
.overlay-box {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  color: #222;
  padding: 15px 18px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);

  /* Change these for size */
  width: 160px;
  height: 40x;
}

/* Position helpers */
.top-left {
  top: 15px;
  left: 15px;
}
.top-right {
  top: 15px;
  right: 15px;
}
.bottom-left {
  bottom: 15px;
  left: 15px;
}
.bottom-right {
  bottom: 15px;
  right: 15px;
}

/* Text styling inside box */
.overlay-box h3 {
  margin: 0 0 6px 0;
  font-size: 16px;
  font-weight: 600;
}
.overlay-box p {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}

.book-btn {
  color: #a70ea7;
  font-size: 18px;
}

.japan-dest-grid {
  display: grid;
  /* grid-template-columns: 8fr 8fr; */
  grid-template-areas: "temple tokyo" "fuji tokyo";
  grid-gap: 20px;
  /* background-color: #2196F3; */
  padding: 30px;
}

.temple-tile-left-top {
  grid-area: temple;
  width: 604px;
  height: 300px;
  /* border: 1px solid red; */
}
.fuji-tile-bottom-left {
  grid-area: fuji;
  width: 604px;
  height: 300px;
  /* border: 1px solid green; */
}

.tokyo-tile-right-full-height {
  grid-area: tokyo;
  width: 575px;
  height: 620px;
  /* border: 1px solid blue; */
}

.top-banner-image {
  width: 604px;
  height: 300px;
  border-radius: 15px;
}

.bottom-banner-image {
  width: 604px;
  height: 300px;
  border-radius: 15px;
}

.right-banner-image {
  width: 575.25px;
  height: 620px;
  border-radius: 15px;
}

.japan-extra {
  text-align: center;
  padding: 40px 20px 10px;
}

.japan-extra-inner {
  max-width: 900px;
  margin: 0 auto;
}

.japan-extra h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.japan-extra p {
  font-size: 20px;
  line-height: 1.5;
  color: #333;
}

.events-blocks {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* allows wrapping on small screens */
  gap: 20px;
  padding: 20px 0 40px 0;
}

.events-card {
  width: 23%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red;  */
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
}

.events-card-img-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.events-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.events-card-information {
  padding: 10px 8px;
  font-size: 1.125rem;
}

.events-date,
.events-location {
  font-size: 0.875rem;
  font-weight: bold;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* 
------------
Greece-Page 
------------
*/

.greece-tourist-block {
  display: flex;
  align-items: flex-start; /* align from the top */
  gap: 24px; /* space between image & text */
  padding: 24px; /* space inside green border */
  margin: 40px auto;
  max-width: 1100px;
  border: 1px solid #00000030;
  background-color: #fff;
}

.tourist-image {
  max-width: 50%;
  height: 370px;
  border: 1px solid #ddd;
}

.tourist-text-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 5px 0;
}

.header-greece {
  padding-top: 20px;
}

.tourist-description {
  padding: 5px 0 3px 0;
  font-size: 18px;
  border: 1px solid #eee;
}

.secondary-tourist-image {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 40vh;
  object-fit: cover;
  border: 1px solid #ddd;
}

/* 
------------
Contact-Page 
------------
*/
.contact-row {
  display: flex;
  padding: 20px 0 20px 0;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  /* border: 3px solid black; */
}

.h1-contact {
  color: aliceblue;
  padding: 20px;
  text-align: center;
  font-size: 60px;
}

input {
  width: 90%;
  /* margin-left: 12%; */
  font-size: 20px;
  /* padding: 16px 16px; */
  border-radius: 5px;
  /* border-color: black; */
  margin-bottom: 10px;
}

textarea {
  width: 90%;
  /* margin-left: 12%; */
  font-size: 20px;
  /* padding: 16px 16px; */
  border-radius: 5px;
  /* border-color: black; */
  margin-bottom: 25px;
}

input:focus-within {
  outline: none;
  border-color: black;
  border-width: 3px;
}

textarea:focus-within {
  outline: none;
  border-color: black;
  border-width: 3px;
}

button {
  border-radius: 12px;
  padding: 15px 15px;
  text-align: left;
  display: flex;
  margin: auto;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}

.google-map {
  height: 62vh;
  width: 50%;
  display: flex;
  align-items: right;
  padding-right: 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.235);
}

.google-map iframe {
  align-items: left;
  height: 100%;
  width: 100%;
}

.wrap {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px 40px;
  text-align: left;
}

a {
  color: var(--link);
  text-decoration: none;
}

.muted {
  color: var(--muted);
  font-size: 16px;
}
hr {
  border: 0;
  border-top: 1px solid var(--line);
  margin: 24px 0;
}
footer {
  margin-top: 28px;
  font-size: 16px;
  color: var(--muted);
}

/* ===== Scoped Legal Page Styles ===== */
.legal-page h1,
.legal-page h2,
.legal-page h3 {
  line-height: 1.25;
  margin: 0 0 12px;
}

.legal-page h1 {
  font-size: 32px;
}

.legal-page h2 {
  font-size: 24px;
  margin-top: 28px;
}

.legal-page h3 {
  font-size: 20px;
  margin-top: 20px;
}

.legal-page p,
.legal-page li {
  font-size: 20px;
}

.legal-page ul {
  padding-left: 20px;
}

.legal-page .toc {
  margin: 8px 0 20px;
}

.legal-page .toc a {
  font-size: 16px;
}

/* Simple in-page nav */
.toc {
  margin: 8px 0 20px;
}
.toc a {
  font-size: 16px;
}
